<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Menu</title>
    <style>
      body{
        background-color: rgb(236, 71, 71);
      }
    </style>
</head>
<body>
  <center>
    <h1>Mess Menu</h1>
    <table border="5 px">
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Food</th>
        </tr>
        <tr>
          <td>Monday</td>
          <td>7:30-9:30</td>
          <td>Idli-sambar</td>
        </tr>
        <tr>
          <td>Monday</td>
          <td>12:30-2:00</td>
          <td>sabaski,rice,dal</td>
        </tr>
        <tr>
            <td>Moday</td>
            <td>7:30-9:00</td>
            <td>kofta,rice,dal</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>7:30-9:30</td>
            <td>chole,bature</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>12:30-2:00</td>
            <td>ladies finger,rice,dal</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>7:30-9:00</td>
            <td>paneer,rice,dal</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>7:30-9:30</td>
            <td>bread-butter,poha</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>12:30-2:00</td>
            <td>cumuber,sweet,rice,dal</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>7:30-9:00</td>
            <td>potato sabzi,rice,dal</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>7:30-9:30</td>
            <td>bunce</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>12:30-2:00</td>
            <td>chick peas,rice,dal</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>7:30-9:00</td>
            <td>green peas,rice,dal</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>7:30-9:30</td>
            <td>pulaw</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>12:30-2:00</td>
            <td>french beans,rice,dal</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>7:30-9:00</td>
            <td>gram,rice,dal</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>7:30-9:30</td>
            <td>sheera,uppit</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>12:30-2:00</td>
            <td>ice cream,paneer,pulaw</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>7:30-9:00</td>
            <td>mushroom,rice,dal</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>7:30-9:30</td>
            <td>paratha</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>12:30-2:00</td>
            <td>sambar,sweet,rice,coloured rice</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>7:30-9:00</td>
            <td>papad,rice,shahi paneer,dal,sambar,curd</td>
          </tr>
      </table>
    </center>
</body>
</html>