<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Photos</title>
    {% load static %}
    <!-- {% load static %} -->
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
</head>
<body>
    <div class="im">
    
    <img src="{% static 'images/8_sharing.jpg' %}" alt="photo" height="400px" width="400px">
    <div class="text">
        <center><h2>Eight Sharing Room</h2></center>
        <h1>location:4th floor</h1>l<br/>
        <h1>fees:50,000</h1>l<br/>
    </div>
</div>
<div class="im">
    
    <img src="{% static 'images/three_ sharing.png' %}" alt="photo" height="400px" width="400px">
    <!-- <img src="{% static 'home/images/' %}" alt="photo"> -->
    <div class="text">
        <center><h2>Three Sharing Room</h2></center>
        <h1>location:3rd floor</h1>l<br/>
        <h1>fees:80,000</h1>l<br/>
        
    </div>
</div>
<div class="im">
    
    <img src="{% static 'images/two_sharing.jpg' %}" alt="photo" height="400px" width="400px">
    <div class="text">
        <center><h2>Two Sharing Room</h2></center>
        <h1>location:2nd floor</h1>l<br/>
        <h1>fees:1,00,000</h1>l<br/>
    </div>
</div>
</body>
</html>